* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
}

/* Layout */
.layout {
  display: flex;
  height: 100vh;
}

/* Left Panel */
.left-panel {
  flex: 1;
  background: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 120px;
  font-weight: bold;
}

/* Right Panel */
.right-panel {
  flex: 1;
  padding: 100px 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right-panel h1 {
  font-size: 50px;
}

.right-panel h2 {
  font-size: 30px;
}

/* Buttons */
.google-btn,
.primary-btn,
.secondary-btn {
  padding: 12px;
  border-radius: 30px;
  cursor: pointer;
}

#googleButtonDiv {
  width: 100%;
}

#googleButtonDiv > div {
  width: 100% !important;

}

.google-btn:hover {
  background-color: rgb(239, 243, 255);
  border: 1px solid rgb(190, 206, 255);
  transition-duration: 0.2s;
}

.primary-btn {
  background: black;
  color: white;
  border: none;
  padding: 15px;
}

.primary-btn:hover {
  background-color: rgb(47, 47, 47);
  transition-duration: 0.2s;
}

.secondary-btn {
  border: 1px solid black;
  background: white;
}

.secondary-btn:hover {
  background-color: rgb(229, 229, 229);
  border: 1px solid rgb(157, 157, 157);
  transition-duration: 0.2s;
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-card {
  background: white;
  width: 550px;
  padding: 60px;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.modal-card input{
  padding: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.close-btn {
  position: absolute;
  top: 15px;
  left: 15px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}

/* Form */
.form-card {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-card form {
  display: flex;
  flex-direction: column;
}

.form-card input {
  padding: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.dob-section {
  text-align: left;
}

.dob-section label {
  font-size: 14px;
  font-weight: 600;
}

.dob-inputs {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.dob-inputs select {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.suggestUserName-a {
  font-size: 14px;
  color: grey;
}

.suggestUserName-b {
  font-size: 13px;
  color: rgb(107, 66, 152);
  text-decoration: underline;
}

.error-msg {
  color: red;
  font-size: 15px;
}
